{% macro links(user)%}

    <ul>
        {%if not user %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {%endif%}
        {% if user and user['RoleID'] in [5,4]  %}
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('orders') }}">Orders</a></li>
        <li><a href="{{ url_for('sales') }}">Sales</a></li>
        <li><a href="{{ url_for('shipments') }}">Shipments</a></li>
        <li><a href="{{ url_for('materials') }}">Materials</a></li>
        <li><a href="{{ url_for('suppliers') }}">Suppliers</a></li>
        <li><a href="{{ url_for('products') }}">Products</a></li>
        <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        {% endif %}
        {% if user and user[ 'admin'] == 1 %}
        <li><a href="{{ url_for('promote') }}">Manage Users</a></li>
        <li><a href="{{ url_for('viewPrinter') }}">Printer Status</a></li>

        {% endif %}
        
        
        {% if user and user['RoleID'] == 3  %}
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('orders') }}">Orders</a></li>
        <li><a href="{{ url_for('sales') }}">Sales</a></li>
        <li><a href="{{ url_for('shipments') }}">Shipments</a></li>
        <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        {% endif %}

        {% if user and user['RoleID'] == 1  %}
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('orders') }}">Orders</a></li>
        <li><a href="{{ url_for('shipments') }}">Shipments</a></li>
        <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        {% endif %}

        {% if user and user['RoleID'] == 2  %}
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('orders') }}">Orders</a></li>
        <li><a href="{{ url_for('sales') }}">Sales</a></li>
        <li><a href="{{ url_for('shipments') }}">Shipments</a></li>
        <li><a href="{{ url_for('materials') }}">Materials</a></li>
        <li><a href="{{ url_for('suppliers') }}">Suppliers</a></li>
        <li><a href="{{ url_for('products') }}">Products</a></li>
        <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        {% endif %}
       
        <li>
            {% if user %}
                <div class="user-info">
                    <p>Welcome, <span>{{ user['username'] }}</span></p>
                </div>
            {% endif %}
        </li>
    </ul>
{%endmacro%}                