{%from 'links.html' import links %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to FloatFry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='float_fry_logo.png') }}" alt="Float Fry Logo">
        </div>
        <nav>
            {{links(user)}}
        </nav>
    </header>
    <h1>Orders</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">OrderID</th>
            <th scope="col">CustomerID</th>
            <th scope="col">OrderDate</th>
            <th scope="col">OrderPrice</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
            {% if orders %}
                {% for ord in orders %}
                    <tr>
                        <th scope="row">{{ ord["OrderID"] }}</th>
                        <td>{{ ord["CustomerID"] }}</td>
                        <td>{{ ord["OrderedDate"] }}</td>
                        <td>£{{ ord["OrderPrice"] }}</td>
                        <td>{{ ord["OrderStatus"] }}</td>
                        <td><a class="btn btn-sm btn-outline-success" href="{{ url_for('update', ordid = ord['OrderID']) }}">UPDATE</a></td>
                    </tr>
                {% endfor %}    
            {% endif %}
        </tbody>
      </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
