{%from 'links.html' import links %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to FloatFry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='splash_styles.css') }}">
    <style>
        .centered-table {
          margin: 20px auto;
          background-color: #ffffff;
          width: 80%; 
        }

        .centered-table th,
        .centered-table td {
          padding: 10px;
          text-align: center;
          font-weight: bold; 
          color: rgb(0, 0, 0); 
        }

        h2 {
          margin-top: 20px;
        }
      </style>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='float_fry_logo.png') }}" alt="Float Fry Logo">
        </div>
        <nav>
            {{ links(user) }}
        </nav>
    </header>
    
        <div class="content">
            <h1>Welcome to FloatFry</h1>
                <p>Revolutionizing Cookware Manufacturing</p>
                <p>Best High-End Cookware of 2021</p>
                <p>Exclusive, Customizable, and Family-Oriented Products</p>
                <p>Designed with Care and Craftsmanship</p>
        </div>
        <h1>Our Heritage</h1>
        <div class="content">
            
            <p>FloatFry has been a pioneer in the cookware industry since 1993. What started as a small family business has evolved into a brand known for its commitment to quality and innovation.</p>
            <p>Over the years, we have consistently developed unique, family-oriented products, all while maintaining our core values of personalization and exclusivity. Our cookware is designed to meet the highest standards and is oven-safe, dishwasher-safe, and crafted from durable Titanium, making it scratch-resistant.</p>
            <p>FloatFry takes pride in its ability to cater to individual customer needs, allowing them to put their signature on our products. This personal touch has made our cookware some of the most prestigious and sought-after in the market.</p>
        </div>
        
                
        <table border="3" class="centered-table">
            <tr>
                <th colspan="3">Demo Login Information:</th>
            </tr>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
            <tr>
                <td>jack</td>
                <td>jack</td>
                <td>Admin</td>
            </tr>
        <tr>
            <td>david</td>
            <td>david</td>
            <td>Floor Manager</td>
        </tr>
        <tr>
            <td>edward</td>
            <td>edward</td>
            <td>Stamper</td>
        </tr>
        <tr>
            <td>oscar</td>
            <td>oscar</td>
            <td>Product Engineer</td>
        </tr>
        <tr>
            <td>john</td>
            <td>john</td>
            <td>Product Operative</td>
        </tr>
        </table>
    

        
        <h1>Frequently Asked Questions</h1>

    <div class="faq-item">
        <h2 class="faq-question">1. Can I cancel my order at any time?</h2>
        <p class="faq-answer">Sure. Your order can be canceled anytime.</p>
    </div>

    <div class="faq-item">
        <h2 class="faq-question">2. Can I change my order later on?</h2>
        <p class="faq-answer">Absolutely! You can change your order at any time.</p>
    </div>

    <div class="faq-item">
        <h2 class="faq-question">3. What happens if my product is damaged?</h2>
        <p class="faq-answer">If the product arrives damaged, we will refund the full amount.</p>
    </div>

    <div class="faq-item">
        <h2 class="faq-question">4. Do you offer any discounts?</h2>
        <p class="faq-answer">Yes! We offer 15% off for students and seniors.</p>
    </div>

    <div class="faq-item">
        <h2 class="faq-question">5. Can I request a refund?</h2>
        <p class="faq-answer">Sure, you will be welcome to request your refund within 14 days of subscribing to any paid plan.</p>
    </div>
        
    <script>
        const faqQuestions = document.querySelectorAll('.faq-question');

        faqQuestions.forEach(question => {
            question.addEventListener('click', () => {
                const faqItem = question.parentElement;
                faqItem.classList.toggle('active');
            });
        });
    </script>
    

</body>
</html>

